node_modules/
.env
uploads/
logs/
dist/
coverage/
src/lib
src/helpers
src/config
src/middleware
src/controllers/ABC/
src/controllers/tmsDocumentWalletController.js
src/controllers/voyagerUploadDocumentsController - Copy (2).js
src/controllers/voyagerUploadDocumentsController - Copy.js
src/controllers/voyagerUploadDocumentsController.js
src/controllers/voyagerUploadDocumentsController_20250411.js
src/controllers/slotReportController.js
src/controllers/slotReportController_20260430.js
src/controllers/tmsDocumentWalletController_20251103.js
src/controllers/userController.js
src/controllers/Backup/
src/controllers/tmsDocumentWalletController_20250415.js
src/controllers/tmsDocumentWalletController_20250415ok.js
src/controllers/tmsDocumentWalletController_20250416.js

# Backup controllers
src/controllers/Backup/

# Sensitive controllers
src/controllers/slotReportController.js
src/controllers/slotReportController_20260430.js
src/controllers/voyagerUploadDocumentsController.js
src/controllers/voyagerUploadDocumentsController_20250411.js
src/controllers/userController.js
src/controllers/tmsDocumentWalletController.js
src/controllers/tmsDocumentWalletController_20251103.js
src/controllers/tmsDocumentWalletController_20250415.js
src/controllers/tmsDocumentWalletController_20250415ok.js
src/controllers/tmsDocumentWalletController_20250416.js

# AWS lib
src/lib/aws-lib/s3.js